/* Variables */
:root {
    --primary: #00509D;
    --primaryDark: #00296B;
    --secondary: #FFD500;
    --secondaryDark: #FDC500;

    --primaryFont: 'Staatliches', cursive;

}

/* Globals */
html {
    box-sizing: border-box; /* apply a natural box layout model to all elements, but allowing components to change */
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit; /* apply a natural box layout model to all elements, but allowing components to change */
}

body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--primaryFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Navigation */
.navigation {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */ /* No supported for iOS */
}

.navigation__link {
    font-size: 3rem;
    font-family: var(--primaryFont);
    color: white;
    margin-right: 2rem;
}

.navigation__link:last-of-type {
    margin-right: 0;
}

.navigation__link--active, .navigation__link:hover {
    color: var(--secondary);
}

/* Products */
.product {

}

.product__image {

}

.product__info {

}

.product__name {

}

.product__price {

}


/* Footer */
.footer {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    text-align: center;
    font-family: var(--primaryFont);
    font-size: 2.2rem;
}
